<div class="header-bar bg-light p-3 d-flex"></div>
<div class="container mt-3">
  <h1 class="justify-content-center align-items-center">v30 PowerUser Chatbot</h1>
  <button class="btn btn-primary" (click)="addExampleText()"> Add Example Text to Chat</button>
  <div class="content mt-3">
    <div class="chat-history flex-scrollable">
      <div *ngFor="let message of sharedService.chatHistory" class="message">
        <div class="sender">{{ message.sender }}</div>
        <div class="text">{{ message.response }}</div>
      </div>
    </div>
    <div class="text-area">
      <label for="textInput" class="form-label mt-3">Your Message:</label>
      <textarea id="textInput" class="form-control" [(ngModel)]="userInput" placeholder="Message chatGPT..." rows="3" (keydown.enter)="sendMessageToChatGPT()"></textarea>
      <br>
      <button class="btn btn-primary" (click)="sendMessageToChatGPT()">Send</button>
    </div>
  </div>
</div>
<app-spinner></app-spinner>
